body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background: linear-gradient(to bottom, #b1ede8, #edb1b6);
  color: #1f0812;
  font-family: "Montserrat", sans-serif;
}

header {
  text-align: center;
  background: linear-gradient(to bottom, #ffffff, #b1ede8);
  margin-bottom: 2rem;
  padding: 1em 0;
  background-color: #fffcf9;
  font-family: "Josefin Sans", sans-serif;
  box-shadow: 0 8px 5px 2px rgba(0, 0, 0, 0.5),
    inset 0 5px 3px 1px rgba(255, 255, 255, 0.4),
    inset 0 -5px 3px 1px rgba(0, 0, 0, 0.4);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  text-align: center;
  margin: 2rem 0 0;
  padding: 0.5rem 0;
  color: #edb1b6;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: inset -7px 0 19px -7px rgba(255, 255, 255, 0.5),
    inset 7px 0 19px -7px rgba(255, 255, 255, 0.5);
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  border-radius: 5px;
  padding: 0;
  background-color: #b1ede8;
  font-family: "Josefin Sans", sans-serif;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5),
    inset 0 2px 3px 1px rgba(255, 255, 255, 0.4),
    inset 0 -2px 3px 1px rgba(0, 0, 0, 0.4);
}

button:active {
  transform: translate(0, 1px);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5),
    inset 0 -2px 3px 1px rgba(0, 0, 0, 0.4),
    inset 0 2px 3px 1px rgba(255, 255, 255, 0.4);
}

.container {
  margin-bottom: 1rem;
  border-radius: 20px;
  background-color: #d4d0cf;
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.5),
    inset 0 5px 3px 1px rgba(255, 255, 255, 0.4),
    inset 0 -5px 3px 1px rgba(0, 0, 0, 0.4);
}

#timer_display {
  width: 40%;
  margin: auto;
  padding: 1em 0;
}

#time_remaining {
  margin: 0 auto;
  padding: 1em;
  text-align: center;
}

#sessions_remaining {
  list-style: none;
  padding-left: 0;
  color: #1f0812;
}

#sessions_remaining li {
  padding: 0.2em;
  text-align: center;
  background-color: #121818;
  color: #fff;
  border-bottom: 1px solid #324342;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5),
    inset 0 2px 3px 1px rgba(255, 255, 255, 0.4),
    inset 0 -2px 3px 1px rgba(0, 0, 0, 0.4);
}

#timer_input {
  width: 80%;
  max-width: 350px;
  margin: 1.5rem auto;
  padding: 1rem;
}
#timer_input > form {
  display: flex;
  flex-direction: column;
}

#form_submit {
  display: block;
  width: 50%;
  height: 2rem;
  margin: auto;
}

@media screen and (min-width: 700px) {
  main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
